@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inner {
  width: 1200px;
  margin: auto;
  display: flex;
  height: 800px;
}

header {
  width: 300px;
  background-color: brown;
}

.con {
  width: 900px;
  background-color: aquamarine;
}

section {
  height: 200px;
  background-color: #985;
}

.con1 {
  height: 300px;
  background-color: cornflowerblue;
}

.con2 {
  height: 200px;
  background-color: #765;
}

footer {
  height: 100px;
  background-color: #255;
}